body {
    font-size: 87.5%; /* Base font size: 14px */
    margin: 0 auto;
    padding: 0;
    text-align: left;
    line-height: 1.429;
    clear: both;
    max-width: 800px;
}

h2 {
    font-size: 1.571em;
}

a {
    outline: 0;
}

a:link, a:visited {
    color: #c74350;
    padding: 0 1px;
    text-decoration: underline;
}

a:hover, a:active {
    background-color: #c74350;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
}

p {
    margin-bottom: 1.143em;
}

strong, b {
    font-weight: bold;
}

header, section, 
footer, article {
    display: block;
}

#header {
    padding: 2.5em 0 0 0;
    text-align: center;
}

#header h1 {
    font-size: 2.38em;
    line-height: 0.6;
}

#header h1 a:link, #header h1 a:visited {
    color: #333;
    font-weight: bold;
    margin: 0 0 .6em .2em;
    text-decoration: none;
}

#header h1 a:hover, #header h1 a:active {
    background: none;
    color: #111;
    text-shadow: none;
}

section header {
    text-align: center;
}



form label {
    display: block;
}

form .input {
    margin-bottom: .7em;
    margin-left: .5em;
}

form .button {
    clear: both;
    margin-left: .5em;
}

#footer {
    padding-bottom: 2em;
    margin-top: 2em;
    text-align: right;
}

#company-address {
    background: #eee;
    font-style: normal;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
}

#company-name {
    width: 300px;
    display: block;
    font-size: 1.286em;
    color: #c64350;
}

footer #copyright {
    text-align: right;
}

#loader {
    text-align: center;
}

#loading-image {
    width: 100%;
}

@media (min-width: 500px) {
    #header h1 {
        font-size: 3.571em;
    }

    form label {
        display: inline-block;
    }

    footer #copyright {
        text-align: center;
    }
}

@media (min-width: 800px) {
    section header {
        text-align: left;
        padding-left: 1em;
    }

    #company-address {
        width: 760px;
    }

    #company-name {
        float: left;
        width: 300px;
        display: block;
    }

    #company-info {
        float: right;
        width: 450px;
    }

    form .input {
        display: inline;
        float: left;
    }

    footer #copyright {
        text-align: right;
    }
}